@{
    Layout = "_AdminLayout";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Manage Products</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-2">
                <h6 class="m-0 font-weight-bold text-primary">Product Tables</h6>
            </div>
            <div class="col-md-2">
                <button id="btnAdd" class="btn btn-primary">Create</button>
            </div>
            <div class="col-md-2">
                <button id="btnSearch" class="btn btn-primary">Search</button>
            </div>
        </div>
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 220px">Name</th>
                        <th>Sell Price</th>
                        <th>Category</th>
                        <th>In Stock</th>
                        <th>Image</th>
                        <th style="width: 200px">Material</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="data">
                    
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li id="li-pre" class="page-item">
                  <a class="page-link" id="pre" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" id="next" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
        aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="mBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="btnSave">Save</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/admin-assets/js/product/index.js"></script>